<a href="https://colab.research.google.com/github/fatasa/PraktikumPSD/blob/main/PraktikumPSD16822.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Memecah nilai string dari suatu kolom ke dalam beberapa kolom**

In [1]:
import pandas as pd

In [2]:
# persiapan data frame dictionary

data = {'nama': ['Farida Putri', 'Sariza Nur', 'Khairina Rahma'],
        'tempat_kelahiran': ['Bogor, Jawa Barat', 'Semarang, Jawa Tengah', 'Magetan, Jawa Timur']}

df = pd.DataFrame(data)
df

             nama       tempat_kelahiran
0    Farida Putri      Bogor, Jawa Barat
1      Sariza Nur  Semarang, Jawa Tengah
2  Khairina Rahma    Magetan, Jawa Timur

In [3]:
# mau memecah kolom menjadi nama depan dan nama belakang
# displit berdasarkan spasi
# pararel expand=True untuk mengizinkan output berbentuk kolom/multiply column

df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

             nama       tempat_kelahiran nama_depan nama_belakang
0    Farida Putri      Bogor, Jawa Barat     Farida         Putri
1      Sariza Nur  Semarang, Jawa Tengah     Sariza           Nur
2  Khairina Rahma    Magetan, Jawa Timur   Khairina         Rahma

In [4]:
#memecah nama kota dan provinsi
#yang membedakan dengan yang di atas adalah dengan memakai kota

df[['kota', 'provinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,provinsi
0,Farida Putri,"Bogor, Jawa Barat",Farida,Putri,Bogor,Jawa Barat
1,Sariza Nur,"Semarang, Jawa Tengah",Sariza,Nur,Semarang,Jawa Tengah
2,Khairina Rahma,"Magetan, Jawa Timur",Khairina,Rahma,Magetan,Jawa Timur

**Menggunakan unstack() pada Multiple Indexes Data Frame**

In [5]:
#menata ulang data frame dengan multiple indexes menggunakan unstack()

import pandas as pd

In [6]:
df = pd.read_csv('./titanicfull.csv')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

In [7]:
# mengelompokkan data ke dalam beberapa kelompok, di sini dikelompokkan berdasarkan sex dan pclass
# data yang akan diamati yaitu data yang survivednya 1 untuk selamat dan 0 untuk tidak selamat
# rata-rata nilai yang selamat
# to_frame untuk mempercantik tampilan

df.groupby(['sex', 'pclass'])['survived'].mean().to_frame()

               survived
sex    pclass
female 1       0.965278
       2       0.886792
       3       0.490741
male   1       0.340782
       2       0.146199
       3       0.152130

In [8]:
# menata ulang data frame dengan multiple indexes
# cara penempatan index sudah berbeda

df.groupby(['sex', 'pclass'])['survived'].mean().unstack()

pclass         1         2         3
sex
female  0.965278  0.886792  0.490741
male    0.340782  0.146199  0.152130

**Resampling pada data deret waktu(time series)**

In [9]:
import pandas as pd
import numpy as np

In [10]:
#365 untuk hari, 24 untuk jam
# interval waktu berdasarkan jam

n_rows = 365 * 24
n_cols = 2
cols = ['kolom1', 'kolom2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq = 'H')

df

/usr/local/lib/python3.7/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                     kolom1  kolom2
2000-01-01 00:00:00      18       5
2000-01-01 01:00:00      18       9
2000-01-01 02:00:00       4      18
2000-01-01 03:00:00      13      10
2000-01-01 04:00:00       7       8
...                     ...     ...
2000-12-30 19:00:00      15      15
2000-12-30 20:00:00       8       6
2000-12-30 21:00:00       1      13
2000-12-30 22:00:00       8       3
2000-12-30 23:00:00       5      10

[8760 rows x 2 columns]

In [11]:
# resampling data dengan interval monthly dengan .resample
# interval waktu berdasarkan bulan

df.resample('M')['kolom1'].sum().to_frame()

            kolom1
2000-01-31    7450
2000-02-29    7014
2000-03-31    7220
2000-04-30    7001
2000-05-31    7475
2000-06-30    7322
2000-07-31    7473
2000-08-31    7781
2000-09-30    7112
2000-10-31    7681
2000-11-30    7096
2000-12-31    7102

In [12]:
# resampling data dengan interval daily
# interval waktu berdasarkan hari

df.resample('D')['kolom1'].sum().to_frame()

            kolom1
2000-01-01     241
2000-01-02     283
2000-01-03     273
2000-01-04     245
2000-01-05     248
...            ...
2000-12-26     262
2000-12-27     228
2000-12-28     224
2000-12-29     233
2000-12-30     213

[365 rows x 1 columns]

**Membentuk dummy Data Frame**

In [13]:
import pandas as pd
import numpy as np

In [14]:
# membentuk data frame dari dictionary

pd.DataFrame({'col1':[1,2,3,4],
              'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [15]:
# membentuk data frame dari Numpy Array
# numpy array ini bisa digunakan untuk membentuk data frame baru

n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))

arr

array([[14, 19, 16],
       [16,  7, 10],
       [17,  8, 11],
       [ 9,  6,  3],
       [11,  5,  6]])

In [16]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  14  19  16
1  16   7  10
2  17   8  11
3   9   6   3
4  11   5   6

In [17]:
# membentuk data frame dengan memanfaatkan pandas.util.testing

pd.util.testing.makeDataFrame().head()

                   A         B         C         D
6IjJ5SK2co -1.176011 -0.376409 -0.870337 -0.002627
3nuTjY8Yo5  0.538581 -1.166115 -0.478846 -0.580223
2VZMjxwMfN -0.933709 -0.533594 -1.003046 -0.746222
cVo1RA3MU1  0.068817 -0.019602 -0.056751  0.102351
ctnYpFVKYK  1.204801 -1.440345  0.950003  0.414322

In [18]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [19]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.266459  0.616567  0.302239  0.447411
2000-01-04 -1.633707 -0.001512  1.030042  0.279305
2000-01-05  0.123334 -1.019154 -0.968166  0.291559
2000-01-06 -0.783757  0.207837 -0.964005  1.156287
2000-01-07 -0.827342 -0.141257  1.133330  1.453754

In [20]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
npfNIzDLwY  1.194274  1.783720 -0.748301 -0.829584
7pVkkEm5m8  0.227415  0.383754 -0.352534 -2.136326
EyNSQclzZI  0.978841 -0.219275  0.186960  0.937431
77RKmLx4D7  0.817194 -2.387462  0.215913  0.967481
wKRzchEWwh  0.984161 -0.462813  0.277822  0.345585